.game-label {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	letter-spacing: 5px;
	font-size: 35px;
	margin: 15px 0 30px;
	background: rgb(0,144,255);
	background: linear-gradient(90deg, rgba(0,144,255,1) 20%, rgba(255,30,32,1) 80%); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #eceffc;
	position: relative;
	z-index: 10000;
	&__wrapper {
		border: 1px solid black;
		padding: 30px;
		border-radius: 10px;
		max-width: 75%;
		background: rgba(0, 0, 0, 0.8);
		color: white;
		box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
	}
}