.game-preview {
	font-family: roboto-wt;
	font-weight: 300;
	width: 100vw;
	height: 100vh;
	display: flex;
	background: #2d3436;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__start {
		background: none;
		border: 2px solid #636e72;
		padding: 10px 50px;
		border-radius: 5px;
		margin-top: 30px;
		color: #fff;
		font-weight: bold;
		font-size: 14px;
		transition: border .5s ease;
		&_active {
			cursor: pointer;
			border: 2px solid #55efc4;
			position: relative;
			z-index: 5;
			overflow: hidden;
			&::before {
				margin-left: -1px;
				content: "";
				display: block;
				position: absolute;
				border-radius: 3px;
				background: #55efc4;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
				width: 100%;
				height: 0;
				z-index: -1;
				transition: height .6s ease;
			}
			&:hover {
				&::before {
					height: 200px;
				}
			}
		}
	}
}

.game-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(0,38,80);
	background: radial-gradient(circle, rgba(0,38,80,1) 38%, rgba(45,35,120,1) 100%); 
	height: 100vh;
	position: relative;

	@media (width < 900px) {
		flex-direction: column;
		justify-content: center;
	}
}