.winner {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    background: #6c5ce7;
    color: #dfe6e9;
    max-width: 100%;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: winWindow 0.75s ease-out;
    position: relative;
  }
  &__header {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  &__desc {
    font-size: 18px;
    width: 60%;
    text-align: center;
  }
  &__home-button {
    animation: homeButton 1.25s ease;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    cursor: pointer;
    border: 2px solid #55efc4;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: background 0.5s ease;
    &:hover {
      background: #55efc4;
    }
  }
}

@keyframes winWindow {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.95;
  }
}

@keyframes homeButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
