.room-id {
  color: #b2bec3;
  margin-top: 30px;
  font-size: 17px;
  letter-spacing: 0.5px;
  transition: color 0.5s ease;
  &:hover {
    transition: color 0.5s ease;
    color: #dfe6e9;
  }
  &__header {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    user-select: none;
    &_active {
      &::before {
        content: "Copied!";
        letter-spacing: 0.2px;
        display: block;
        position: absolute;
        left: 3px;
        bottom: -30px;
        font-weight: 400;
        font-size: 13px;
        background: #00b894;
        color: #2d3436;
        padding: 2px 6px;
        border-radius: 40px;
        z-index: 10;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 28px;
        bottom: -18px;
        width: 10px;
        height: 10px;
        background: #00b894;
        transform: rotate(45deg);
        z-index: 5;
      }
    }
  }
}
